@mixin size ($width, $height){
    height: $height;
    width: $width;
}
@mixin flex($display, $direction, $justifycontent, $aligncontent, $alignitems) {

	display: $display;
	flex-direction: $direction;
	justify-content: $justifycontent;
	align-items: $alignitems;

}
.lista__menu{
    display: flex;
    justify-content: space-around;    
}

.nav__Bar__Content {
    
    color: rgba(255, 255, 255, 0.836);
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0vw;
    font-size: 0.6rem;
    text-transform: uppercase;
    line-height: 1.5; 
    word-spacing: 10vw;
    
    
}

#menu ul {
    background-color: none;
    
    
}

#menu ul li {
    position: relative;
    float: left;
}
 
#menu ul li a:hover {
    color: rgb(97, 97, 97);
    
}

#menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0.5rem 0;
    
}

#menu ul li:hover>ul {
    
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    height: 20vw;
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 1;
    border-radius: 10px;
    z-index: 1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}